img.animate-img-width{
    -webkit-transition: all 0.5s ease;
}
body {
    background-image: url("../../public_html/img/background.png");
    background-repeat: repeat;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol", sans-serif;
    font-size: 15px;
    color: #777;
}
   .iconft{
-webkit-transition: 0.3s ease-out;
    -moz-transition:  0.3s ease-out;
    transition:  0.3s ease-out;
    }
    .iconft:hover{

      -webkit-transform: rotateZ(360deg);
     -moz-transform: rotateZ(360deg);
      transform: rotateZ(360deg);
    }
  
label.user{
    font-size: 25px;
}
label.text{
    font-size: 15px;
}
a.headerlink{
    font-size: 15px;
}
h3, h4 {
    margin: 10px 0 30px 0;
    letter-spacing: 1px;
    font-size: 25px;
    color: #111;
}

.container {
    padding: 80px 120px;

}
.textarea{
    text-align: center;
}


.person {
    border: 10px solid transparent;
    margin-bottom: 25px;
    width: 80%;
    height: 80%;
    opacity: 0.7;
}
.person:hover {
    border-color: #f1f1f1;
}
.carousel-inner img {
    -webkit-filter: grayscale(90%);
    filter: grayscale(90%); /* make all photos black and white */
    width: 100%; /* Set width to 100% */
    margin: auto;
}
.carousel-caption h3 {
    color: #fff !important;
}
@media (max-width: 600px) {
    .carousel-caption {
        display: none; /* Hide the carousel text when the screen is less than 600 pixels wide */
    }
}
.bg-1 {
    background: #2d2d30;
    color: #bdbdbd;
}
.bg-1 h3 {color: #fff;}
.bg-1 p {font-style: italic;}
.list-group-item:first-child {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}
.list-group-item:last-child {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.thumbnail {
    padding: 0 0 15px 0;
    border: none;
    border-radius: 0;
}
.thumbnail p {
    margin-top: 15px;
    color: #555;
}
.btn {
    padding: 10px 20px;
    background-color: #333;
    color: #f1f1f1;
    border-radius:3px;
    transition: 0.6s;
}
.btn:hover, .btn:focus {
    border: 1px solid #333;
    background-color: #4896ff;
    color: #0d0d0d;
}

.modal-header, h4, .close {
    background-color: #333;
    color: #fff !important;
    text-align: center;
    font-size: 27px;
    font-family: Calibri;
    font-variant-caps: petite-caps;

}
.modal-header, .modal-body {
    text-align: justify;
    padding: 10px 10px;
    border-radius: 1px;


}

.open .dropdown-toggle {
    color: #fff;
    background-color: #555 !important;
}
.dropdown-menu li a {
    color: #000 !important;
}
.dropdown-menu li a:hover {
    background-color: #2c84ff !important;
}
footer {
    background-color: #2d2d30;
    color: #f5f5f5;
    padding: 10px;
}
footer a {
    color: #f5f5f5;
}
footer a:hover {
    color: #777;
    text-decoration: none;
}
.form-control {
    border-radius: 0;
}
textarea {
    resize: vertical;
}
.parallax{
    background-image: url("../../resources/templates/footer.php");
    min-height: 59px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
    margin: 0;
}

#header{
    position: absolute;
    z-index: 1000;
    top: 200px;
    left: 200px;
}

.text-box{
    height: 600px;
    padding: 50px;
}
@media only screen and (max-device-width: 1024px) {
    .parallax {
        background-attachment: scroll;
    }
}

.navbar {
    margin-bottom: 0 !important;
}

.image {
    background: url('http://cdn1.iconfinder.com/data/icons/round-simple-social-icons/58/facebook.png');
    width: 58px;
    height: 58px;
    position:relative;
}
.image:hover > .overlay {
    width:100%;
    height:100%;
    position:absolute;
    background-color:#000;
    opacity:0.5;
}
/* Dropdown Button */
.dropbtn {

    color: #8e1707;
    padding: 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: absolute;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #ffffff;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    y-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 15px 30px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f0f0f0
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #f8f9fa;
}

/* Style the buttons that are used to open and close the accordion panel */
button.accordion {
    background-color: #1c4bff;
    color: #df4d53;
    cursor: pointer;
    padding: 18px;
    width: 10%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}

button.accordion.active, button.accordion:hover {
    background-color: #ccc;
}
#accordionset{
    display: block;
    overflow: auto;

}
div.panel {
    padding: 0 18px;
    background-color: white;
    display: none;
}
.empty{
    border: none; background: none;padding: 0;
}
.sideside{
    width:40%;
    margin: 0px 5px;
    height:40px;
}
.left{
    float:left;
}

.right{
    float:right;
}
.modal-content{
    padding:30px;
}
.modal-button{
    padding: 5px 0px;
    border: none;
    -webkit-transition: all 0.5s ease;
}
.modal-button:hover{
    border: 1px black solid;
}
.bot-mar{
    margin-bottom: 15px;
}

