#panel{
    width:300px;
    height:125px;
    background:transparent;
}
#close{
    display:block;
    float:right;
    width:30px;
    height:30px;
    background:url(http://www.htmlgoodies.com/img/registrationwelcome/close_icon.png) no-repeat center center;
}